{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block condition %}
    Array:
    [
    {% for obj in array %}
        {{obj}},
    {% endfor %}
    ]
    Search any number and get True or False
{% endblock condition %}

{% block content %}
    <form action="{% url 'binary_search' %}" method="post" class="ajax_form">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Send data" class="btn btn-success button_full">
    </form>
    <div class="ajax_answer"></div>
{% endblock content %}